.recruiterapplication{
    background-color: rgba(165, 245, 45, 0.5);
    width: 50%;
    height: 800px;
    text-align: center;
    font-size: 30px;
    font-family: cursive;


}
input{font-size: 30px;
height: 35px;
margin-bottom: 10px;
}
body{
    background-image: url(https://getwallpapers.com/wallpaper/full/1/a/8/136021.jpg);
}

aside {
    font-size: 35px;
width: 50%;
    float: right;
    font-style: italic;
  }